.card {
    display: flex;
    background: #fff;
    border-radius: 2px;
    align-content: flex-start;
    height: 200px;
    margin: 10px;
    position: relative;
    width: 200px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    padding: 5px;
  }

  .card > img {
    max-width: 100%;
    max-height: 100%;
  }
  