.container{
    display: flex;
    flex-flow: row wrap;
    min-height: 80%;
    justify-content: space-around;
    padding: 20px;
    align-content: flex-start;
    background:#93C572;
}
    
.heading {
    flex: 100%;
    max-width: 100%;
    background-color: blue;
    font-size: 1.2rem;
    color: white;
    padding: 20px;
}

.content {
    display: inline-block;
    padding: 20px;

}
